@{
    ViewData["Title"] = "ملاحظات الإصدار";
}

<div class="container">
    <div dir="rtl">
        <div class="text-right col-md">
            <div class="card mb-2">
                <div class="card-header bg-primary text-dark text-center">
                    <h5><b> الإصدار 2.2 [الحالي]</b></h5>
                    <h7> 2023/3/26 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>تحسين طريقة عرض المراسلات</li>
                        <li>تحسينات عامة</li>
                        <li>إصلاح بعض المشاكل</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 2.1 [الحالي]</b></h5>
                    <h7> 2022/10/1 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>تحسين طريقة عرض المراسلات</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.7 </b></h5>
                    <h7> 2022/4/28 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>تحسين طريقة عرض المراسلات القديمة</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.6.9.4 [تجريبي]</b></h5>
                    <h7> 2022/4/1 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>إضافة إمكانية التعليق بأكثر من صفة</li>
                        <li>إضافة إمكانية التعليق على صورة المراسلة</li>
                        <li>تحسين طريقة عرض المراسلة</li>
                        <li>تحسين آلية إنشاء مراسلة جديدة</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.6.9.3 [تجريبي]</b></h5>
                    <h7> 2022/3/10 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>إضافة إمكانية حذف المراسلات الواردة</li>
                        <li>إضافة فيدية تعريفي بالنظام</li>
                        <li>تحسين طريقة عرض المراسلة</li>
                        <li>تحسين آلية إنشاء مراسلة جديدة</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.6.9.2 [تجريبي]</b></h5>
                    <h7> 2022/2/24 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>تحسين آلية العمل كمكلف بمهام فريق عمل أو تقسيم إداري</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.6.9.1 [تجريبي]</b></h5>
                    <h7> 2022/2/14 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>امكانية إضافة مرفق للمراسلة بالإضافة إلى النسخة المصورة من المراسلة</li>
                        <li>إمكانية إرسال صورة من المراسلة (CC)</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.6.9 [تجريبي]</b></h5>
                    <h7> 2022/2/8 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>تحسين عمل البحث وإضافة امكانية البحث بالتاريخ</li>
                        <li>إضافة امكانية طباعة التعليقات</li>
                        <li>يمكن للمستخدم الفرعي إضافة ملف للمراسلة</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.6.8 [تجريبي]</b></h5>
                    <h7> 2022/1/20 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>تحسين أداة كتابة المراسلة</li>
                        <li>تحسينات على المستخدم الفرعي</li>
                        <li>تحسينات على آلية عرض المراسلات في صفحة النظام القديم</li>
                        <li>إمكانية فلترة البحث بالتصنيف</li>
                        <li>تمكين المستخدم الفرعي من إضافة ملفات للمسودة </li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-secondary text-dark text-center">
                    <h5><b> الإصدار 1.6.7 [تجريبي]</b></h5>
                    <h7> 2022/1/13 </h7>
                </div>
                <div class="card-body" style="font-size:larger;">
                    <ul class="p-1">
                        <li>إمكانية إضافة صور من نوع (JPG, JPEG) إلى نسخة ورقية المراسلة</li>
                        <li>إضافة تحسينات إلى المستخدم الفرعي</li>
                        <li>تحسينات إلى صفحة النظام القديم</li>
                        <li>نسخة ورقية دليل هواتف الشركة إلى النظام</li>
                        <li>زر انتقال إلى نظام نقل الملفات</li>
                        <li>تغيير صيغة التاريخ في كامل النظام</li>
                        <li>تحديد حجم وعدد الملفات التي تضاف إلى نسخة ورقية المراسلة</li>
                        <li>تحسين أداة كتابة المراسلة (من اليمين إلى اليسار)</li>
                        <li>تحسينات عامة</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>