

<html>
<head>
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
        <form class="form-inline my-2 my-lg-0" dir="rtl" asp-action="Search" asp-controller="ApiCall">
            
            <button class="btn btn-outline-success my-2 my-sm-0" dir="rtl" type="submit">Search</button>
        </form>
    </nav>
    <div>

        <div style="height:100px;">

        </div>
    </div>
</body>
</html>